<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gk Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
 <div class="quiz-container">
  <form method="post">
    <h2>GK Quiz</h2>

  <p>Q1: Who is known as the "Father of the Nation" in India?</p>
  <input type="radio" name="q1" value="Mahatma Gandhi"> Mahatma Gandhi<br>
  <input type="radio" name="q1" value="Jawaharlal Nehru"> Jawaharlal Nehru<br>
  <input type="radio" name="q1" value="Subhash Chandra Bose"> Subhash Chandra Bose<br>
  <input type="radio" name="q1" value="Bhagat Singh"> Bhagat Singh<br>
  

  <p>Q2: What is the national flower of India?</p>
  <input type="radio" name="q2" value="Rose"> Rose<br>
  <input type="radio" name="q2" value="Lotus"> Lotus<br>
  <input type="radio" name="q2" value="Sunflower"> Sunflower<br>
  <input type="radio" name="q2" value="Marigold"> Marigold<br>
 

  <p>Q3: In which year did India get independence?</p>
  <input type="radio" name="q3" value="1945"> 1945<br>
  <input type="radio" name="q3" value="1946"> 1946<br>
  <input type="radio" name="q3" value="1947"> 1947<br>
  <input type="radio" name="q3" value="1948"> 1948<br>

  
  <p>Q4: Which is the largest planet in our Solar System?</p>
  <input type="radio" name="q4" value="Earth"> Earth<br>
  <input type="radio" name="q4" value="Jupiter"> Jupiter<br>
  <input type="radio" name="q4" value="Saturn"> Saturn<br>
  <input type="radio" name="q4" value="Mars"> Mars<br>
 

  <p>Q5: Who wrote the National Anthem of India?</p>
  <input type="radio" name="q5" value="Bankim Chandra Chatterjee"> Bankim Chandra Chatterjee<br>
  <input type="radio" name="q5" value="Rabindranath Tagore"> Rabindranath Tagore<br>
  <input type="radio" name="q5" value="Sarojini Naidu"> Sarojini Naidu<br>
  <input type="radio" name="q5" value="Subhash Chandra Bose"> Subhash Chandra Bose<br>
  <button type="submit">Submit</button>
  </form>
  </div>

</body>
</html>
